/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   
*{font-family: montserrat, RobotoSlab;}
   
@font-face {
    font-family: montserrat;
    src:url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: RobotoSlab;
    src:url(../fonts/RobotoSlab-Regular.ttf);
}


.navbar{
	margin-bottom:0px;
	height:114px;
	background:#FFFFFF;
	padding-top:30px;
}
.container{
	padding-right:0px;
}
.navbar-header a{
	font-family:montserrat;
	font-style:bold;
	font-size:22px;
	text-transform:uppercase;
	color:#777777;
}

.collapse ul li a{
	font-family:montserrat;
	font-style:regular;
	font-size:20px;
	text-transform:uppercase;
	color:#777777;
}

.bannar_part{
	background:url(../img/bannar.jpg)no-repeat;
	background-position:center;
	background-size:cover;
	height:530px;
}

.bannar_part h1{
	font-size:60px;
	color:#fff;
	text-align:center;
	font-family:montserrat;
	font-style:bold;
	padding-top:60px;
	text-transform:uppercase;
}
.bannar_part p{
	font-size:20px;
	color:#fff;
	font-family:RobotoSlab;
	font-style:regular;
	text-align:center;
	padding-bottom:30px;
}
.bannar_part a{
	text-decoration:none;
	font-family:montserrat;
	font-style:bold;
	font-size:16px;
	color:#fff;
	text-align:center;
	width:200px;
	height:60px;
	overflow:hidden;
	display:block;
	padding-top:18px;
	background-color:#7CC576;
	border-radius:30px;
	margin:0 auto;
}
.heading a:hover{
	background-color:#5AAEDE;
	color:#fff;
}

.services_part{
	text-align:center;
}
.services_part h2{
	padding-top:70px;
	font-family:montserrat;
	font-style:bold;
	font-size:45px;
	color:#222222!improtent;
	text-transform:uppercase;
}
.services_part p{
	font-size:24px;
	color:#777777;
	font-family:RobotoSlab;
	font-style:regular;
	padding-bottom:80px;
	overflow:hidden;
}
.love_web_tools{
	text-align:center;
	padding-bottom:100px;
}
.love_web_tools h3{
	font-family:montserrat;
	font-style:bold;
	font-size:24px;
	color:#222222;
	text-transform:uppercase;
	padding-top:30px;
	padding-bottom:16px;
}
.love_web_tools p{
	font-size:17.5px;
	color:#777777;
	font-family:RobotoSlab;
	font-style:regular;
}

.just_relax{
	background:url(../img/ralex.jpg)no-repeat;
	background-size:cover;
}
.relax_part{
	padding:90px 0px 90px 85px;
}
.relax_part h2{
	font-family:montserrat;
	font-style:bold;
	font-size:40px;
	color:#FFFFFF;
	text-transform:uppercase;
}
.relax_part h2 span{
	color:#7CC576;
}
.relax_part p{
	font-size:20px;
	color:#CCCCCC;
	font-family:RobotoSlab;
	font-style:regular;
	padding-top:30px;
}
.relax_part .setup ul{
	padding-left:0px;
}
.relax_part .setup ul li a{
	text-decoration:none;
}
.setup ul li h4{
	font-size:18px;
	color:#CCCCCC;
	font-family:RobotoSlab;
	font-style:regular;
}
.setup h4 span{
	margin-right:20px;
	font-size:20px;
}
.setup ul li a h5{
	width:180px;
	height:60px;
	background:#7CC576;
	color:#ffffff;
	text-align:center;
	text-transform:uppercase;
	border-radius:30px;
	padding-top:20px;
	font-family:montserrat;
	font-style:bold;
	font-size:16px;
}
.setup ul li a h5:hover{
	background:#3391CD;
	color:#7CC576;
}
.latest_project{
	
}
.latest_part{
	text-align:center;
}
.latest_part h2{
	padding-top:70px;
	font-family:montserrat;
	font-style:bold;
	font-size:45px;
	color:#222222;
	text-transform:uppercase;
}
.latest_part p{
	font-size:24px;
	color:#777777;
	font-family:RobotoSlab;
	font-style:regular;
	padding-bottom:80px;
	overflow:hidden;
}
.latest_project{
	position:relative;
	margin-bottom:50px;
}
.phone_part{
	position:absolute;
	content:"";
	right:-87px;
}

.icon_part img{
	padding:10px 0px;
}

.icon_part ul{
	padding-left:0px;
}
.frame_work{
	margin-bottom:50px;
}

.frame_work h3{
	font-family:montserrat;
	font-style:bold;
	font-size:18px;
	color:#222222;
	text-transform:uppercase;
}
.frame_work p{
	font-size:16px;
	color:#777777;
	font-family:RobotoSlab;
	font-style:regular;
}
.frame_work .tree_house h4{
	font-family:montserrat;
	font-style:bold;
	font-size:18px;
	color:#222222;
	text-transform:uppercase;
	padding-top:20px;
}
.tree_house p{
	font-size:16px;
	color:#777777;
	font-family:RobotoSlab;
	font-style:regular;
	padding-bottom:10px;
}
.frame_work a{
	text-decoration:none;
	font-family:montserrat;
	font-style:bold;
	font-size:16px;
	color:#7CC576;
	text-transform:uppercase;
}

.culture_valu{
	background:#F9F9F9;
}
.culture_icon{
	text-align:center;
}
.culture_icon img{
	padding-top:55px;
	width:100%;
}
.cricle{
	position:relative;
}
.cricle i{
	font-size:100px;
}
.icon{
	position: absolute;
	top: 29px;
	right: 0px;
	left: -8px;
	font-size: 30px;
}

.client_area1 img{
	padding-bottom:40px;
}
.text_area{
	padding-bottom:80px;
}
.text_area h3{
	font-family:montserrat;
	font-style:bold;
	font-size:18px;
	color:#222222;
	text-transform:uppercase;
	padding-top:50px;
}
.text_area p{
	font-size:16px;
	color:#777777;
	font-family:RobotoSlab;
	font-style:regular;
}
.client_area1{
	text-align:center;
}
.defenation{
	background-color:#F9F9F9;
	padding:30px 0px;
}
.defenation p{
	font-size:22px;
	font-family:RobotoSlab;
	font-style:regular;
	color:#777777;
}
.defenation a{
	color:#7CC576;
	text-decoration:none;
	font-size:18px;
	font-family:RobotoSlab;
	font-style:regular;
}

.contact_part{
	background:#7CC576;
	height:250px;
	text-align:center;
}
.contact_part h2{
	padding:40px 0px 30px 0px;
	font-family:montserrat;
	font-style:bold;
	font-size:40px;
	color:#fff;
	text-transform:uppercase;
}
.contact_part a{
	padding:17px 30px;
	border:3px solid #fff;
	border-radius:5px;
	text-decoration:none;
	font-family:RobotoSlab;
	font-style:bold;
	font-size:18px;
	color:#fff;
	text-transform:uppercase;
}
.link{
	text-align:center;
	padding:50px 0px;
}
.link a{
	padding:0px 20px;
}


.all_part{
	background:#222222;
	padding:50px 0px;
}
.all_part h3{
	font-family:montserrat;
	font-style:bold;
	font-size:18px;
	color:#fff;
	text-transform:uppercase;
	padding-bottom:10px;
}
.burn{
	transform:rotate(180deg);
}
.address{
	padding-top:10px;
}
.address i{
	font-size: 30px;
	color: #fff;
	margin-left: 10px;
}
.address p{
	font-family:RobotoSlab;
	font-style:regular;
	font-size:16px;
	color:#fff;
}
.address a{
	text-decoration:none;
}
.address span{
	font-family:montserrat;
	font-style:bold;
	font-size:18px;
}

.footer_part{
	height:100px;
}
.footer p{
	font-family:montserrat;
	font-style:regular;
	font-size:14px;
	padding-top:40px;
}
.footer ul{
	list-style:none;
	margin-top:25px;
}
.footer ul li{
	display:inline-block;
	padding:5px 10px;
	font-size:30px;
	border-radius:50%;
	background:#222222;
}
.footer ul li a{
	text-decoration:none;
	color:#fff;
}
.footer ul li:hover{
	background:#1E68B1;
	color:#6AC139;
}
.footer ul li a i:hover{
	transform:rotate(40deg);
	transition:.5s;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/*==========================================================================
	@media screen========================================================================== */
@media screen and (max-width: 600px) {
.just_relax h2{
	font-size:20px;
	text-align:center;
}
.relax_part p{
	font-size:10px;
	text-align:center;
}
.latest_project{
    width: 100%;
    margin-top: 0;
	background:#1D65AD;
  }
.latest_part{
	text-align:center;
	}
.latest_project{
	display:none;
}
}